name: GitHub commit mailbot

on:
  workflow_call:
    inputs:
      host:
        required: true
        type: string
      port:
        required: true
        type: string
      from:
        required: true
        type: string
      to:
        required: true
        type: string
      mailbot_repo:
        description: 'For testing mailbot forks. Controls the mailbot clone repo'
        required: false
        type: string
        default: 'sanjit-bhat/github-mailbot'
      mailbot_ref:
        description: 'For testing mailbot forks. Controls the branch of the cloned mailbot repo'
        required: false
        type: string
        default: ''
    secrets:
      password:
        required: true

jobs:
  mailbot:
    runs-on: ubuntu-latest
    steps:
      - name: Activate brew
        run: echo "/home/linuxbrew/.linuxbrew/bin" >> "$GITHUB_PATH"
      - name: Add CLI deps
        run: brew install git-delta bat aha
      - name: Add Rocq syntax highlighting
        run: |
          mkdir -p "$(bat --config-dir)/syntaxes"
          git clone --depth=1 https://github.com/whitequark/Sublime-Coq.git "$(bat --config-dir)/syntaxes/Sublime-Coq"
          bat cache --build
      - uses: actions/checkout@v6
        with:
          repository: ${{ inputs.mailbot_repo }}
          ref : ${{ inputs.mailbot_ref }}
          path: './mailbot'
      - uses: actions/checkout@v6
        with:
          path: './caller'
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          cache: false
      - run: go install mailbot.go
        working-directory: ./mailbot
      - run: mailbot
        working-directory: ./caller
        env:
          MAILBOT_HOST: ${{ inputs.host }}
          MAILBOT_PORT: ${{ inputs.port }}
          MAILBOT_FROM: ${{ inputs.from }}
          MAILBOT_TO: ${{ inputs.to }}
          MAILBOT_PASSWORD: ${{ secrets.password }}
          MAILBOT_GH_EVENT: ${{ toJSON(github.event) }}
